@media (orientation: portrait) {
    .footer-content {
        flex-direction: column;
    }
    .socialpages {
        flex-direction: row;
        margin-top: 2em;
    }
    .garments-wrapper, .brands-wrapper {
        width: 100%;
        margin-top: 1.5em;
    }
}

@media (orientation: landscape) {
    .footer-content {
        flex-direction: row;
    }
    .socialpages {
        flex-direction: column;
    }
    .garments-wrapper, .brands-wrapper {
        width: 42%;
    }
}

.footer-content {
    display: flex;
    padding: 0.4em;
    justify-content: space-between;
    align-items: flex-start;
}

.socialpages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.socialpages > span {
    margin: 0.2em;
    font-size: 1.8em;
    color: olive;
}
span:hover {
    color: white;
}

.garments, .brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.garment, .brand {
    text-align: left;
    width: max-content;
    margin: 3px;
    padding: 2px 4px;
    border-radius: 4px;

    background-color: #5c054b;
}

.garments-wrapper, .brands-wrapper {
    padding: 5px;
}

.footer-content > div {
    border: solid 1px rgba(128, 128, 0, 0.411);
    border-radius: 10px;
}
.titles-footer {
    background-color: olive;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
