.home-title{
    width: 95%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #35122e 40%, transparent);
    color: white;
    border-bottom-left-radius: 10px;
}
.title {
    display: flex;
    border-radius: 10px;
}
.logo {
    width: 100px;
}
.logo > img {
    width: 100%;
    display: block;
    border-bottom-left-radius: 10px;
}
