.App {
  text-align: center;
}

html {
  
}
.products-list {
  border: solid 1px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  min-width: 100px;
  max-width: 100px;
  margin: 5px 5px 0px 0px;
  border: solid 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.product-thumbnails {
  width: 100%;
}
.product > div {
  
}
.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-thumb {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}