:root {
  --bgA : #7B2869;
  --bgB: #9D3C72;
  --bgBlackT: white;
}

.App {
  text-align: center;
}

html {
  
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.product {
  min-width: 100px;
  max-width: 100px;
  margin: 7px 5px 0px 0px;
  box-shadow: 0.04em 0.04em 0.2em black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.product-thumbnails {
  width: 100%;
  transform: scale(0.8);
}
.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-thumb {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-price {
  font-weight: bolder;
  color: var(--bgA);
}
.view-product-details {
  padding: 0.5em;
}
.product-details {
  border-radius: 5px;
  display: flex;
}
.product-description {
  padding: 0.5em;
  text-align: justify;
}
.product-main > img {
  width: 50%;
}
.product-details > div {
  width: 50%;
}

.related-products {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.titles {
  padding-top: 1em;
}
.left {
  min-width: 400px;
  max-width: 500px;
}
.right {
  flex-grow: 2;
  padding: 5px;

  display: flex;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thumbs {
  width: 100px;
  transform: scale(0.7);
}
.other {
  padding: 0.5em;
}
.other > div {
  color: var(--bgA);
  font-size: 0.9em;
}

/* ----------------Cart--------------- */

.add-to-cart, .remove-from-cart, .checkout-btn {
  border: none;
  background-color: var(--bgA);
  font-weight: bolder;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  color: white;
}
.remove {
  color: var(--bgA);
  font-weight: bolder;
  font-size: 2em;
  border: solid 1px;
  display: block;
}
.add-to-cart:hover {
  background-color: rgba(58, 39, 4, 0.452);
}
.cart {
  min-width: 500px;
  max-width: 500px;
  margin: 0 1em;
  border-right: solid 1px;
  border-left: solid 1px;
}
.cart-products {
  display: flex;
  align-items: center;

  border-bottom: solid 1px orange;
  padding: 0 0.8em;
}
.cart-products:hover {
  background-color: rgba(240, 229, 208, 0.452);
}
.cart-products > .product{
  box-shadow: 0.04em 0.04em 0.2em transparent;
}
.middle-cart-details {
  flex-grow: 2;
  text-align: left;

  font-weight: bolder;
}
.middle-cart-details > hr {
  border-top: solid 1px var(--bgA);
}
.add-quantity-btn {
  color: var(--bgB);
  cursor: pointer;
}
.add-quantity-btn:hover {
  color: rgb(22, 77, 22);
}
.checkout-btn {
  font-size: 1.2em;
  margin: 1em auto;
  display: block;
}
button:hover {
  background-color: rgba(87, 64, 21, 0.452);
}
.checkout-btn-container {
  display: flex;
  justify-content: center;

  bottom: 0;
  position: sticky;
  background: linear-gradient(180deg, white, white, white, var(--bgB));
}
.total-price {
  display: flex;
  justify-content: space-between;
}
.total-value-per-product {
  border-top: double;
  color: var(--bgA);
  padding: 0.2em 0.5em;
  font-weight: bolder;
}
.sum-total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 2em;

  color: rgb(143, 101, 23);
}
.sum-total > * {
  margin: 0.5em;
}

/* -----------------Navigation bar--------------------- */
.navbar {
  flex-grow: 2;
}
.cart-size {
  font-size: 0.4em;
  color: orange;
}
.top-bar {
  display: flex;
  background-color: var(--bgA);
  align-items: center;
  padding-bottom: 1.4em;

  position: sticky;
  top: 0;
  z-index: 3;
}
.cart-btn {
  font-size: 2em;
  padding: 0;
} 
.top-bar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bolder;
}
a:hover {
  color: orange;
}

/* --------------------- Filter products ---------------- */
.filter-products {
  display: flex;
  align-items: center;
  padding: 1em 0.8em;
  background-color: var(--bgBlackT);
  width: 80%;
  margin-left: 2%;
  border-radius: 5px;
  margin-top: -0.8em;
  color: var(--bgA);
  box-shadow: 0.04em 0.04em 0.4em;

  position: sticky;
  top: 3em;
  z-index: 3;
}
.filter-products  input[type="text"], select {
  background-color: transparent;
  border: solid 1px;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  color: var(--bgA);
  font-weight: bolder;
  margin: 0em 0.5em;
}

/* ------------------- Home ------------------- */
.products-by-category {
  border: solid 1px rgba(0, 0, 0, 0.178);

  display: flex;
  flex-wrap: wrap;
}